/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 Aug, 2017, 6:03:27 PM
    Author     : User
*/

/* -- STICKY HEADER -- */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.header h1{
    text-align: center;
    margin: 10px;
}


/* -- MAIN BODY -- */
.main-body{
    padding: 10px;
    margin-top: 100px;
}


/* -- PRELOAER -- */
#preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #cccccc;
}

.spinner-holder {
    position: relative;
    height: 50px;
    width: 50px;
    margin: auto;
    top: 50%;
}

.spinner {
    position: fixed;
    width: 50px;
    height: 50px;
    
    border-top: 1px solid rgba(0,0,0, 0.15);
    border-right: 1px solid rgba(0,0,0, 0.15);
    border-bottom: 1px solid rgba(0,0,0, 0.15);
    border-left: 2px solid rgba(0,0,0, 0.7);
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    
    animation: spin 700ms infinite ease-in-out;
    -webkit-animation: spin 700ms infinite ease-in-out;
    -moz-animation: spin 700ms infinite ease-in-out;
}

@keyframe spin{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}

@-webkit-keyframes spin{
    from{ -webkit-transform: rotate(0deg); }
    to{ -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin{
    from{ -moz-transform: rotate(0deg); }
    to{ -moz-transform: rotate(360deg); }
}
