/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Oct, 2017, 10:32:31 PM
    Author     : User
*/

/*https://coolors.co/0f120f-332222-2d3047-364156-c8c8c8*/

body.custom-dark{
    background-color: #332222;
}

nav.custom-dark{
    background-color: #0F120F;
    
}

.main-body{
    color: #C8C8C8;
}

.container-border-inset{
    border-style:inset;
    padding: 20px;
    margin-bottom: 20px;
}

.container-alt0{
    padding: 20px;
    background-color: #2D3047;
}
.container-alt1{
    padding: 20px;
    background-color: #364156;
}

#canvas-holder{
    border: 1px solid black;
    margin: auto;
}

@media only screen and (min-width: 330px) and (min-height: 400px){
    #canvas-holder{
        width: 300px;
        height: 400px;
    }
}
@media only screen and (min-width: 405px) and (min-height: 500px){
    #canvas-holder{
        width: 375px;
        height: 500px;
    }
}
@media only screen and (min-width: 480px) and (min-height: 600px){
    #canvas-holder{
        width: 450px;
        height: 600px;
    }
}
@media only screen and (min-width: 555px) and (min-height: 700px){
    #canvas-holder{
        width: 525px;
        height: 700px;
    }
}
@media only screen and (min-width: 830px) and (min-height: 800px){
    #canvas-holder{
        width: 600px;
        height: 800px;
    }
}