/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Sep, 2017, 12:39:16 AM
    Author     : User
*/

.synth-container{
    background-color: rgb(100, 100, 100);
    padding-top: 5px;
    padding-bottom: 5px;
}
.synth-container h5{
    color: rgb(255, 255, 20);
}

#oscilloscope{
    height: 150px;
    width: 100%;
}
.oscilloscope-holder{
    border: 10px solid rgb(0, 0, 0);
    height: 170px;
}

.synth-ui{
    background-color: rgb(220, 220, 220);
    padding: 5px;
}

ul.keyboard{
    list-style: none;
    border: 1px solid #000000;
    padding: 20px;
    width: max-content;
    font-size: 0; /* Fix for extra whitespace margin on <li> */
}
li.keyboard-key{
    /*https://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/*/ 
    display: -moz-inline-stack; /*workaround for firefox : not gonna fix for IE6/7*/ 
    display: inline-block;
    border-radius: 0px 0px 5px 5px;
}

li.white-key{
    background-color: #ffffff;
    height: 200px;
    width: 50px;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
}
.black-key{
    height: 150px;
    width: 30px;
    background-color: #000000;
    position: relative;
    left: 35px;
}
/* Is there another way to apply right border on last element? */
li.white-key:last-child{
    border-width: 1px; 
}
